
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>About Us</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<!-- Definity CSS -->
  	<link href="{% static 'css/zerogrid.css' %}" rel="stylesheet" media="all" type="text/css">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" media="all" type="text/css">
	<link href="{% static 'css/menu.css' %}" rel="stylesheet" media="all" type="text/css">
	
	<!-- Animate.css -->
	<link href="{% static 'css/animate.css' %}" rel="stylesheet" media="all" type="text/css">
	
	<!-- Custom Fonts -->
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	
	<!-- Owl Carousel Assets -->
    <link href="{% static 'owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->
	
	<!-- JS -->
	
	

	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
    
</head>
<body id="page-top" class="sub-page">
<div class="wrap-body">

	<!--////////////////////////////////////Header-->
	<header>
        <style>
            body.sub-page header .main-header {
    height: 40vh;
    background: url("https://cdn.pixabay.com/photo/2014/06/11/17/00/cook-366875_960_720.jpg") center center;
}
        </style>
		<div class="wrap-header" >
			
			<!---Main Header--->
			<div class="main-header">
				<div class="bg-overlay">
					<!---Hero Content--->
					<div class="hero-content-wrapper">
					  <div class="hero-content">
						<h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Something About Us</h4>
						<img class="hero-lead wow fadeInLeft" data-wow-duration="1.5s" src= "https://i.imgur.com/5iOh79w.png"> 
					  </div>
					</div>
				</div>
			</div>
			
			<!---Top Menu--->
			<div id="cssmenu" >
				<ul>
					<li class="nav-item active">
						<a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					  </li>
					  <li class="nav-item">
						  <a class="nav-link" href="/bloghome">Recipes</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="/contact">Contact</a>
						</li>
				</ul>
			</div>
			
		</div>
	</header>

	<!--////////////////////////////////////Container-->
	<section id="page-content">
		<div class="wrap-container zerogrid">
			<div class="crumbs">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
			<div id="about-us">
				<article class="post-entry single-post">
					<div class="wrap-post">
						<div class="entry-header">
							<h1 class="entry-title">About Me</h1>
							<div class="entry-meta">
								<a href="#"><i class="fa fa-calendar"></i> May,2020</a>
								<a href="#"><i class="fa fa-comments"></i> FoodBlog</a>
								<a href="#"><i class="fa fa-tag"></i> Event, New</a>
							</div>
						</div>
						<div class="post-thumbnail-wrap">
							<img src="https://i.imgur.com/TpqrwZL.jpg" />
						</div>
						<div class="entry-content">
							<div class="excerpt"></div>
							
							<blockquote><p>If you can't feed a hundred people, then feed just one.<br>- Mother Teresa
								</p></blockquote>
							
							
							<h2>Binita....</h2>
							<p>Hi, I'm Binita! Life can be complicated, cooking shouldn't be! I believe that you can put a delicious, well-balanced meal on the table without stressing or spending hours doing dishes. It's possible, and I'm here to help. Have a seat at my table...let's chat, eat, and have fun!</p>
							
							<div class="note">
							  <ol>
								<li>Explore</li>
								<li>Cook</li>
								<li>Eat</li>
								<li>Repeat</li>
							  </ol>
							  <div class="clear"></div>
							</div>
							<p>Share Your Thoughts In The Contact Us Page ,Help Us Improve...<br>
							Share This Website With Your friends Help Us Grow </p>
						</div>
					</div>
				</article>
				<div class="zerogrid">
					
				</div>
			</div>
		</div>
	</section>

	<!--////////////////////////////////////Footer-->
	<footer id="page-footer">
		<div class="zerogrid wrap-footer">
			<div class="row">
				<div class="sm-1-4 col-footer-1">
					<div class="wrap-col">
						<h3 class="widget-title">About Us</h3>
						<p>Hi, I'm Binita! Life can be complicated, cooking shouldn't be! I believe that you can put a delicious, well-balanced meal on the table without stressing or spending hours doing dishes. It's possible, and I'm here to help. Have a seat at my table...let's chat, eat, and have fun!</p>
						
					</div>
				</div>
			
				
				
					
				
			</div>
		</div>
		<div class="zerogrid bottom-footer">
			<div class="row">
				<div class="bottom-social">
					<a href="https://www.facebook.com/debroybinita"><i class="fa fa-facebook"></i></a>
					<a href="https://www.instagram.com/binitadebroy/"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-pinterest"></i></a>
					
					<a href="#"><i class="fa fa-youtube"></i></a>
				</div>
			</div>
			<div class="copyright">
				Copyright @ - <a href="http://shayancyber.pythonanywhere.com/" title="free html5 templates">Shayan's Webdesign</a> by Shayan
			</div>
		</div>
	</footer>
	
	
	<!-- ========== Scripts ========== -->
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/menu.js' %}"></script>
	<script src="{% static 'js/jquery.localScroll.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'js/SmoothScroll.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	
	
	<!-- Google Map -->
	<script src="{% static 'js/google-map.js' %}"></script>
    <script src="https://www.google.com/maps/d/u/0/viewer?msa=0&hl=en&ie=UTF8&t=m&ll=26.13064310000002%2C91.73419979999998&spn=0.003996%2C0.006427&z=18&iwloc=0004e1db25ebaa7ded454&source=embed&mid=1JZS4-azoMe2J3E-mZ85WNQ39jCQ" async defer></script>
    
	
	<!-- Definity JS -->
	<script src="{% static 'js/main.js' %}"></script>
	
</div>
</body></html>