<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" class="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <style>
    *{

      margin: 0;
      padding: 0;
      border: 0;
      outline: none;




    }
    .content{

      text-align: center;
    }
    body{

      background-image: url(https://source.unsplash.com/1600x900/?nature,water);
      background-size:cover;
      background-repeat: no-repeat;
      font-family: tahoma;
      overflow: hidden;

    }






  </style>

</head>
<body>
  <div class="content">
    <h1>
      yt
    </h1>
    <a href="#videostory" class= "button more" id+="videolink" >Watch more <i class="fa fa-play-circle" aria-hidden="true">&nbsp;</i></a>

    <div class="videostory" class="mfp-hide" style="max-width:75%; margin: 0 auto;">

      <iframe width="853" height="480" src="https://www.youtube.com/embed/UsqtzA9XmQE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



    </div>
  </div>
</body>
</html>