<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<title>Contact Us</title>
	<style>
	body {
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.7;
        color: #212529;
        text-align: left;
        background-color:paleturquoise;
    }
</style>
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Zaykaa</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/bloghome">Recipes</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/about">About</a>
			  </li>
			
		  </ul>
		
		</div>
	  </nav>
	  
	  </div>
	  <div class="container mt-3">
	  <h1>contact</h1>
	  <form method="post" action="/contact/" >
	   
		<div class="form-group">
		  <label for="name">Name</label>
		  <input type="text" class="form-control" id="Name" name="name"aria-describedby="Name">
		  
		</div>
		  <div class="form-group">
			{% csrf_token %}
		  <label for="email">Email address</label>
		  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
		  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<div class="form-group">
		  <label for="phone">Phone no.</label>
		  <input type="phone" class="form-control" name="phone" id="phone">
		</div>
		<div class="form-group">
		  <label for="content">how can we help</label>
		  
		  <textarea class="form-control" name="content" id="content" cols="30" rows="5"></textarea>
		</div>
		
		<button type="submit" class="btn btn-primary">Submit</button>
	  </form>
	  </div>
	  <img  src="https://i.imgur.com/XlrObXI.png" alt=""> 
	
	
	





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>