{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Zaykaa Home Page</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
	<meta name="author" content="https://www.zerotheme.com">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<!-- Definity CSS -->
  	<link href="{% static 'css/zerogrid.css' %}" rel="stylesheet" media="all" type="text/css">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" media="all" type="text/css">
	<link href="{% static 'css/menu.css' %}" rel="stylesheet" media="all" type="text/css">
	<!-- Lightbox -->
	
	<!-- Video Background -->
	
	<!-- Animate.css -->
	<link href="{% static 'css/animate.css' %}" rel="stylesheet" media="all" type="text/css">
	
	<!-- Custom Fonts -->
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	
	<!-- Owl Carousel Assets -->
    <link href="{% static 'owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->
	
	<!-- JS -->
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
    <![endif]-->
    <style>
        header .main-header {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2016/02/05/15/34/pasta-1181189_960_720.jpg") center center;
    background-size:cover;
}
    </style>
      
</head>
<body id="page-top">
<div class="wrap-body">

	<!--////////////////////////////////////Header-->
	<header>
		<div class="wrap-header" >
			
			<!---Main Header--->
			<div class="main-header">
				<div class="bg-overlay">
					<!---Hero Content--->
					<div class="hero-content-wrapper">
					  <div class="hero-content">
						<h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Home Of The Foodies</h4>
						<h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">Welcome To <br> ZAYKAA </h1>
						<img src="https://i.imgur.com/XlrObXI.png" alt="">  
						<a href="bloghome" class="button button-skin wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Recipies</a>
					  </div>
					</div>
					<!---Scroller--->
					<div id="scroll-page-content">
						<a href="#page-content" class="scroller">
							<span class="scroller-text">scroll down</span>
							<div class="scroller-button">
								<i class="fa fa-angle-double-down"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
			
			<!---Top Menu--->
			<div id="cssmenu" >
				<ul>
				   <li class="active"><a href="index.html"><span>Zaykaa</span></a></li>
				   
				   <li><a href="bloghome"><span>Recipes</span></a></li>
				   <li><a href="about"><span>About</span></a></li>
				   <li class="last"><a href="contact"><span>Contact</span></a></li>
				   <li class="last"><a href="/admin/"><span>Admin</span></a></li>
				</ul>
			</div>
		</div>
	</header>
	

	<!--////////////////////////////////////Container-->
	<section id="page-content" class="index-page">
		<div class="wrap-container">
			<!-----------------content-box-1-------------------->
			<section class="content-box box-1">
				<div class="zerogrid">
					<div class="wrap-box"><!--Start Box-->
						<div class="header wow fadeInUp" data-wow-delay=".5s" data-wow-duration="3s">
							
							<img class="hero-lead wow fadeInLeft" data-wow-duration="1.1s" src= "https://i.imgur.com/5iOh79w.png"> 
						
							<h2>Hey Foodie</h2>
							<span class="intro">Nice To Meet You,Check All The Zesty Recipes</span>
						</div>
						<div class="content">
							<div class="row">
								<div class="lg-1-3 wow fadeInLeft" data-wow-duration=".8s">
									<div class="ft-item">
										<div class="ft-icon">
											
										</div>
										<h5>Experience</h5>
										<p>I'm a Foodblogger. I Love To Cook And Try Out Different Recipes ,Here I Will All The Recipes With You .</p>
									</div>
									
									<div class="ft-item">
										<div class="ft-icon">
											
										</div>
										<h5>Excellent Recipes</h5>
										<p>Very Delicious And Easy To Prepare Recipes.</p>
									</div>
								</div>
								<div class="lg-1-3">
									<img src="https://cdn.pixabay.com/photo/2015/08/25/03/50/herbs-906140__340.jpg" alt="" class="ft-image-center wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s" />
								</div>
								<div class="lg-1-3 t-right-xs wow fadeInRight" data-wow-duration=".8s">
									<div class="ft-item">
										<div class="ft-icon">
											
										</div>
										<h5>Best Experience</h5>
										<p>I Will Try To Give You The Best Experience With Zesty Food Recipes .</p>
									</div>
									<div class="ft-item">
										<div class="ft-icon">
											
										</div>
										<h5>Help Us Improve</h5>
										<p>Use The Contact Us Page And Let Me Know About Your Problems And Help Us Improve</p>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="content-box box-6 box-style-3">
				
				
				<div class="zerogrid-fluid">
					<div class="wrap-box"><!--Start Box-->
						<div class="content wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
							<div >
								<div id="owl-brand" class="owl-carousel">
									{% for i in allPosts|slice:":16"%}
									<div class="item">
										<img src="/media/{{i.image}}" alt="">
									</div>
									{% endfor %}
		
									
								</div>
		
							</div>
						</div>
					</div>
				</div>
			
			</section>
			
			<!-----------------content-box-2-------------------->
			
			<section class="content-box box-2 box-style-2 ">
			<div class="zerogrid">
				<div class="container mt-4"></div>
					<div class="wrap-box"><!--Start Box-->
						
						<div class="content wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
							<div class="row">
								<div class="sm-1-2 offset-sm-2-4">
									<blockquote><p>Part of the secret of a success in life is to eat what you like and let the food fight it out inside.
										</p></blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</section>
		   </div>
			

			
			<!-----------------content-box-4-------------------->
			
			<section class="content-box box-4">
				<div class="zerogrid-fluid">
					<div class="wrap-box">
						<div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
							<h2>Some Recipies</h2>
							<span class="intro">A food blog with fresh, zesty recipes.</span>
							
						</div>
						<div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
							<div class="row">
							{% for i in allPosts|slice:":4"%}
								<div class="lg-1-4 md-1-3 sm-1-2">
									<div class="portfolio-box zoom-effect">
										<img src="/media/{{i.image}}" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
												<div class="project-name">
													{{i.title}}
												</div>
												<div class="project-category">
													{{i.author}}
												</div>
												<div class="project-button">
													<a href="/{{i.slug}}" class="button button-skin">Read More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
								
							</div>
						</div>
					</div>
				</div>
				
			</section>
			<a href="bloghome" class="button button-skin wow fadeIn" data-wow-duration="2s"  data-wow-delay="1s">MORE RECIPES</a>
			
			

			
			<!-----------------content-box-6-------------------->
			
			
		
			
			<!-----------------content-box-7-------------------->
			<section class="content-box box-7">
				<div class="zerogrid-fluid">
					<div class="wrap-box"><!--Start Box-->
						<div class="content wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
							<div class="row">
								<div class="md-1-3">
									<div class="wrap-col">
										<div class="row">
											<div class="sm-1-3">
												<i class="fa fa-map-marker"></i>
											</div>
											<div class="sm-2-3 t-left-sm">
												<h3>Address</h3>
												<p>Guwahati,Kamrup(Metro),Assam,India</p>
											</div>
										</div>
									</div>
								</div>
								<div class="md-1-3">
									<div class="wrap-col">
										<div class="row">
											<div class="sm-1-3">
												<i class="fa fa-phone"></i>
											</div>
											<div class="sm-2-3 t-left-sm">
												<h3>Phone</h3>
												<p>Use Contact Us Page To Contact With Us</p>
											</div>
										</div>
									</div>
								</div>
								<div class="md-1-3">
									<div class="wrap-col">
										<div class="row">
											<div class="sm-1-3">
												<i class="fa fa-envelope"></i>
											</div>
											<div class="sm-2-3 t-left-sm">
												<h3>Email</h3>
												<p><span>Email One :</span> debroyshayan@gmail.com </p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		</div>
	</section>

	<!--////////////////////////////////////Footer-->
	<footer id="page-footer">
		<div class="zerogrid wrap-footer">
			<div class="row">
				<div class="sm-1-4 col-footer-1">
					<div class="wrap-col">
						<h3 class="widget-title">About Us</h3>
						<p>Hi, I'm Binita! Life can be complicated, cooking shouldn't be! I believe that you can put a delicious, well-balanced meal on the table without stressing or spending hours doing dishes. It's possible, and I'm here to help. Have a seat at my table...let's chat, eat, and have fun!</p>
						
					</div>
				</div>
				
				
				
				
		</div>
		<div class="zerogrid bottom-footer">
			<div class="row">
				<div class="bottom-social">
					<a href="https://www.facebook.com/debroybinita"><i class="fa fa-facebook"></i></a>
					<a href="https://www.instagram.com/binitadebroy/"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-pinterest"></i></a>
					
					
					<a href="#"><i class="fa fa-youtube"></i></a>
				</div>
			</div>
			<div class="copyright">
				Copyright @ - <a href="http://shayancyber.pythonanywhere.com/" rel='nofollow'>Website Developed</a> by <a href="http://shayancyber.pythonanywhere.com/">Shayan</a>
			</div>
		</div>
	</footer>
	<div id="page-top"><a href="#page-top" class="button button-toTop f-right"><i class="fa fa-angle-double-up"></i></a></div>
	
	<!-- ========== Scripts ========== -->
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/menu.js' %}"></script>
	<script src="{% static 'js/jquery.localScroll.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'js/SmoothScroll.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	
	<!-- Owl Carousel JS -->
	<script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
	
	<!-- Google Map -->
	<script src="{% static 'js/google-map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7V-mAjEzzmP6PCQda8To0ZW_o3UOCVCE&callback=initMap" async defer></script>
    
	
	<!-- Definity JS -->
	<script src="{% static 'js/main.js' %}"></script>
	
</div>
</body></html>